data/sample-dtd/astronomicheski-obekt.dtd

<!-- Астрономически обект -->
<!-- https://bg.wikipedia.org/wiki/%D0%90%D1%81%D1%82%D1%80%D0%BE%D0%BD%D0%BE%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8_%D0%BE%D0%B1%D0%B5%D0%BA%D1%82 -->
<!-- Трябва да вземе първите 2 параграфа (без заглавие), заглавието Галактики и параграфа от Галактики -->
<!ELEMENT article (text, text, title, text)>
<!ELEMENT text (#PCDATA)>
<!ELEMENT title (#PCDATA)>